@media all and (max-width: 1170px) {
  #wrap #main #section2 .container .gap .wrap .title h2 {
    font-size: 20px;
  }
  #wrap #main #section2 .container .gap .wrap .content,
  #wrap #main #section3 .container .gap .wrap .content {
    padding: 6.838% 0 0 0;
  }
  #wrap #main #section3 .container .gap .wrap .content > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section3 .container .gap .wrap .content > ul > li {
    width: 50%;
  }
  #wrap #main #section3 .container .gap .wrap .content > ul > li .col-gap {
    margin: 15px;
  }
  #wrap #main #section3 .container .gap .wrap .title h2 {
    font-size: 25px;
  }
  #wrap #main #section3 .container .gap .wrap .title h2 br {
    display: block;
  }
  #wrap #quickBox {
    display: none;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul > li:nth-child(1) {
    height: 500px;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul > li:nth-child(2) ul {
    padding: 10%;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul > li:nth-child(2) ul li {
    text-align: center;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul > li:nth-child(2) ul li h2 {
    font-size: 3.33333vw;
    width: 100%;
  }
  #wrap #main #section8 .container .gap .wrap .content > ul > li:nth-child(2) ul li h2 br {
    display: none;
  }
}

@media all and (max-width: 1024px) {
  #wrap #header .container .gap .wrap .mobile-btn-box {
    display: block;
  }
  #wrap #header .container .gap .wrap #nav {
    display: none;
    position: absolute;
    width: 100vw;
    height: auto;
    top: 72px;
    left: 0;
    background: #000;
    overflow-y: scroll;
  }
  #wrap #header .container .gap .wrap #nav > ul {
    display: block;
    width: 100%;
    height: auto;
  }
  #wrap #header .container .gap .wrap #nav > ul > li {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #444;
  }
  #wrap #header .container .gap .wrap #nav > ul > li a.main-btn {
    display: block;
    line-height: 38px;
    padding: 0 20px;
    color: #fff;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap {
    padding: 0;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap > ul {
    display: block;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap > ul > li {
    width: 100%;
    border-right: none;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap > ul > li dl {
    padding: 0 20px;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap > ul > li dl dd {
    border-top: 1px solid #333;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 {
    display: none;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap {
    padding: 10px 0;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li > a {
    padding: 0 20px;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li > a > span {
    color: #fff;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li > a > span::after {
    display: none;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub a {
    border-top: 1px solid #333;
  }
  #wrap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub a span {
    color: #9d9d9d;
  }
  #wrap #header.show {
    top: 0;
    height: 60px;
  }
  #wrap #header.show .container .gap .wrap #nav {
    top: 60px;
  }
  #wrap #header.show .container .gap .wrap #nav > ul > li {
    height: auto;
  }
  #wrap #header.show .container .gap .wrap #nav > ul > li a {
    height: 38px;
    line-height: 38px;
  }
  #wrap #header.show .container .gap .wrap #nav > ul > li .sub.sub1356,
  #wrap #header.show .container .gap .wrap #nav > ul > li .sub.sub24 {
    top: 60px;
  }
  #wrap #main #section2 .container .gap .wrap .content > ul > li .col-gap .col-wrap .top img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  #wrap #main #section2 .container .gap .wrap .content > ul > li .col-gap .col-wrap .top img:hover {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  #wrap #main #section6 .container .gap .wrap > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section6 .container .gap .wrap > ul > li {
    width: 50%;
  }
  #wrap #main #section6 .container .gap .wrap > ul > li .col-gap {
    padding: 5px;
  }
}

@media all and (max-width: 980px) {
  #wrap #main #section2 .container .gap .wrap .content > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section2 .container .gap .wrap .content > ul > li {
    width: 50%;
  }
  #wrap #main #section2 .container .gap .wrap .content > ul > li .col-gap {
    margin: 15px;
  }
  #wrap #main #section5 .container .gap .wrap .content ul.svg-box li {
    width: 50%;
  }
  #wrap #main #section5 .container .gap .wrap .content ul.svg-box li .col-gap {
    margin: 30px 15px;
  }
  #wrap #main #section7 .container .gap .wrap .content-box > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section7 .container .gap .wrap .content-box > ul > li {
    width: 50%;
  }
  #wrap #main #section7 .container .gap .wrap .content-box > ul > li .col-gap {
    padding: 15px;
  }
  #wrap #main #section9 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 0 20px;
  }
  #wrap #main #section9 .container .gap .wrap .content > ul > li {
    width: 50%;
  }
}

@media all and (max-width: 740px) {
  #wrap #main #section2,
  #wrap #main #section3 {
    padding: 60px 0;
  }
  #wrap #main #section2 .container .gap .wrap .title {
    width: 80%;
    margin: 0 auto;
  }
  #wrap #main #section2 .container .gap .wrap .title h2 br {
    display: none;
  }
  #wrap #main #section4 .container .gap .wrap #nav {
    padding: 50px 0;
  }
  #wrap #main #section4 .container .gap .wrap #nav ul li {
    margin: 10px 0;
    display: block;
  }
  #wrap #main #section3 .container .gap .wrap .title h2 {
    font-size: 23px;
  }
  #wrap #main #section3 .container .gap .wrap .title h2 br {
    display: block;
  }
}

@media all and (max-width: 620px) {
  #wrap #main #section2 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #wrap #main #section7 .container .gap .wrap .title-box h2 {
    font-size: 20px;
  }
  #wrap #main #section7 .container .gap .wrap .title-box h2 br {
    display: none;
  }
}

@media all and (max-width: 540px) {
  #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption h3 {
    font-size: 2.08092vw;
  }
  #wrap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption h2 {
    font-size: 6.62112vw;
  }
  #wrap #main #section3 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #wrap #main #section3 .container .gap .wrap .title h2 {
    font-size: 19px;
  }
  #wrap #main #section6 .container .gap .wrap > ul > li {
    width: 100%;
  }
  #wrap #main #section10 .container .gap .wrap .title {
    padding: 15px 0 50px 15px;
  }
  #wrap #main #section10 .container .gap .wrap form ul li input {
    width: 80%;
  }
}

@media all and (max-width: 480px) {
  #wrap #main #section3 .container .gap .wrap .title h2 {
    font-size: 17px;
  }
  #wrap #main #section5 .container .gap .wrap .content ul.svg-box li {
    width: 100%;
  }
  #wrap #main #section5 .container .gap .wrap .content ul.svg-box li .col-gap {
    margin: 30px 10px;
  }
  #wrap #main #section7 .container .gap .wrap .content-box > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #main #section7 .container .gap .wrap .content-box > ul > li {
    width: 100%;
  }
  #wrap #main #section9 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
}
